body {
  color: 343434;
  font-family: "Roboto";
  font-size: 16px;
  margin: 3rem 1rem 4rem 1rem;
  max-width: 722px;
  background-color: #ffffff;
  line-height: 1.5rem;
}

/* .logo {
  margin-left: -0.3rem;
} */

@media screen and (min-width: 45rem) {
  .column {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 3rem 3rem;
  }
  .para1 {
    grid-column: span 3;
  }
  .image {
    display: grid;
    place-items: center;
    grid-column: span 3;
  }
  /* .white {
    grid-column: 4/7;
  } */
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

ul li {
  display: flex;
  align-items: flex-start;
}

ul li img {
  padding-top: 0.25rem;
}

ul span {
  padding-left: 0.5rem;
  padding-bottom: 0.25rem;
}

.heading h1 {
  line-height: 1;
}

.heading p {
  font-weight: 400;
  margin-top: -0.5rem;
}

.body h2 {
  margin-top: 2rem;
}

.body p {
  margin-top: -0.5rem;
}

.footer {
  margin-top: 2rem;
}

.formlayout {
  background-color: #f4f4f4;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0 -1rem 0 -1rem;
}

.formlayout h2 {
  margin: 0;
  line-height: 2.5rem;
}

.formlayout p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #767676;
  font-size: 0.875rem;
}

.formlayout span {
  color: #767676;
  font-size: 0.875rem;
  display: block;
  line-height: 1rem;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  padding: 0.5rem 0.5rem;
  display: inline-block;
  background: white;
  border-radius: 4px 0px 0px 4px;
  box-sizing: border-box;
  border: 0;
  margin-top: 0.5rem;
  font-size: 1rem;
}

/* .email {
  padding-bottom: 1.5rem;
} */

::placeholder {
  font-family: "Roboto";
  color: #343434;
  opacity: 0.5;
}

input {
  color: #343434;
}

/* .social input {
  margin-top: 1rem;
} */

button {
  background-color: #30475e;
  color: white;
  width: 100%;
  height: 3rem;
  border-radius: 4px;
  margin-top: 1.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  border-width: 0;
  box-shadow: rgba(0, 0, 0, 0.7);
}

button:hover {
  background-color: #567ea6;
  cursor: pointer;
}

@media screen and (min-width: 45rem) {
  body {
    margin: 2rem auto 8rem auto;
  }
  .formlayout {
    padding: 3rem;
    margin: 0 0 0 0;
  }
}
